.productList{
    width: 100%;
}
.list{
    width: 100%;
    display: grid;
    align-items: flex-start;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
}

@media (max-width:980px) {
    .list{
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        padding: 0;
      }
}
@media (max-width:420px) {
    .list{
      grid-template-columns: repeat(2, 1fr);
    }
  }