.productList{
    width: 100%;
}
.options{
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.inner{
  display: flex;
  width: 100%;
  gap: 20px;
  height: 100%;
  justify-content: space-between;
}
.block{
  width: 100%;
  position: relative;
}
.list{
    width: 100%;
    display: grid;
    align-items: flex-start;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}
a{
  text-decoration: none;
  color: #fff;
}
.preload{
  width: 100%;
}

@media (max-width:980px) {
  .productList{
    width: 100%;
  }
    .list{
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        padding: 0;
      }
}
@media (max-width:420px) {
    .list{
      grid-template-columns: repeat(2, 1fr);
    }
  }