.fullCard {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    width: 100%;
    height: 100%;
}

.inner {
    display: flex;
    gap: 50px;
}

.info {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoInner {
    margin-bottom: 40px;
    width: 100%;
}

.title {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.designer {
    font-size: 18px;
    text-transform: uppercase;
}

.type {
    text-transform: uppercase;
    font-size: 14px;
}

.photo_block {
    width: 100%;
    height: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.btn {
    padding: 20px 40px;
    text-transform: uppercase;
    background-color: #fff;
    color: #333;
    font-size: 18px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    width: 80%;
    transition: all .2s ease-in-out;

    &:hover {
        background-color: #111;
        color: #fff;
    }
}
.photo{
    width: 50%;
    position: relative;
    height: 100%;
}

.swiper {
    height: 100%;
    width: 100%;
}
.swiper-pagination{
    color: #000;
}

.swiperSlide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
@media (max-width: 980px) {
    .inner {
        flex-direction: column;
    }

   .photo{
    width: 100%;
   }

    .info {
        width: 100%;
        margin-top: 30px;
    }
}