.home {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(4px);
    height: 100%;
    width: 100%;
}

.inner {
    padding: 0 20px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.block {
    position: relative;
    width: 50%;
    height: 100%;
    cursor: pointer;

    &:hover {
        .img {
            img {
                filter: blur(4px);

            }
        }
    }
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-shadow: 10px 10px 10px #000;
    font-size: 26px;
    transition: all .2s ease-in-out;
}

.img {
    img {
        width: 100%;
        
        transition: all .2s ease-in-out;
        object-fit: cover;
    }

}
.all{
    position: relative;
    padding: 40px;
    width: 100%;
    background-color: #ffffff5b;
    transition: all .1s ease-in-out;
    &:hover{
        
    background-color: #ffffff3a;
    }
}

@media (max-width:980px) {
    .inner {
        padding: 5px;
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .title{
        font-size: 18px;
    }

    .block {
        width: 100%;
        &:hover{
            .img{
                img{
                    filter: blur(0px);
                }
            }
        }
    }
    .img{
        height: 300px;
        img{
            height: 100%;
        }
    }
}