.filter{
    display: none;
    user-select: none;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(4px);
    cursor: pointer;
    padding: 10px 20px;
}
.title{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 30px;
    font-size: 16;
    img{
        width: 20px;
        height: 20px;
    }
}
@media (max-width: 980px) {
    .filter{
        display: block;
    }
    .title{
        font-size: 14px;
    }
}
@media (max-width:420px) {
    .filter{
        padding: 5px 10px;
    }
}