.sidebar{
    height: 100%;
    width: 20%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(4px);
    padding: 20px;
    ul{
        margin-bottom: 10px;
        padding: 10px 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 5px;
        &:nth-child(2){
            text-transform: capitalize;
        }
        li{
            font-size: 14px;
        }
    }
}
.title{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
}
@media (max-width:980px) {
    .sidebar{
        display: none;
    }
}